@media screen and (max-width: 980px){
    .logo-area{
        width: 100%;
        float: none;
        text-align: center;
    }
    .login-area{
        width: 80%;
        float: none;
    }
    .right-area h1{
        font-size: 30px;
    }
    .left-area p{
        width: 80%;
    }

}
@media screen and (max-width: 768px){
    .login-area{
        width: 100%;
        float: none;
    }
    .login-area .email,
    .login-area .password,
    .login-area .login{
        float: none;
        margin-right: 0;
    }
    .login-area input[type="text"],
    .login-area input[type="password"]{
        width: 90%;
        float: none;
        text-align: center;
        box-sizing: border-box;
    }
    .left-area{
        width: 100%;
        float: none;
        text-align: center;
    }
    .right-area{
        width: 100%;
    }
    .login-area form{
        float: none;
        width: 100%;
    }
    .login-area input[type="submit"]{
        margin-top: 7px;
    }
}
@media screen and (max-width: 480px){
    .left-area p{
        font-size: 16px;
        width: 90%;
    }
    .right-area h1{
        font-size: 25px;
    }
    .right-area h4{
        font-size: 17px;
    }
    .gender label{
        font-size: 17px;
    }
}